body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

#calc{
    background-color: rgb(39, 46, 59);
    height: 60vh;
    width: 40vh;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display{
    width: 100%;
    height: 60px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: right;
    background-color: rgb(219, 224, 228);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:10px;
    padding: 5px;
}

.btn{
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(168, 170, 179);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
}

#clear{
    background-color: rgb(255, 68, 68);
}
#clear:hover{
    background-color: rgb(255, 255, 255);
}

.tall{
    grid-row: span 2;
}

.wide{
    grid-column: span 2;
}

.btn:hover{
    background-color: white;
}